.avatar{
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
}
.nav-link:hover{
    font-size: 19px;
    background-color: rgb(85, 85, 117);
    border-radius: 12px 12px 12px 12px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.842);
}