.Containing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgb(2, 26, 48);
    width: 80%;
    background-color: rgb(2, 18, 32);
    margin: 2% auto 6% auto;
    font-size: 12px;
}
.button{
    margin: 0.5% 0.5%;
    border-radius: 4px;
}
.history{
    margin-left: 0%;
}

.contain{
    border: 2px solid rgb(2, 26, 48);
    width: 900px;
    margin: 2% auto;
}

.right{
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 2%;
}

.left{
    padding: 2%;
}

tr{
    border : 1px solid white;

}

.ttle{
    font-size: 17px;
    color: white;
}

.tab{
    color: white;
}

.history-table{
    overflow-y:scroll;
    max-height:200px;
    display:block;
 }

 ::-webkit-scrollbar { 
    display: none; 
}

.date{
    color: white;
}