
#footer {
	width: 100%;
	margin: auto;
	text-align: center;
    animation: footer 4s linear;
	background-image:linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./image/footer.jpg);
}

@keyframes footer {
    from{
        margin-top: 100%;
    }
}